body {
  font-family: Arial, Helvetica, sans-serif;

}

#header-container {
  display: flex;
  justify-content: space-between;
}

#header-container p {
  font-size: 23px;
  color: grey;
  font-weight: lighter;
  margin-top: 10px;
  padding-left: 10px;
}

#header-container ul {
  display: flex;
  flex-direction: row;
  padding-right: 10px;
}

button {
  margin-left: 10px;
  color: white;
  background-color: rgb(84, 193, 236);
  border-radius: 6px;
  border: none;
  height: 1.5rem;
  width: auto;
  margin-top: -4px;
}

button:hover {
  background-color: #2D8AD3;
  cursor: pointer;
}

li {
  padding-left: 20px;
  padding-right: 5px;
  list-style-type: none;
  color: #929292;
}

li:hover {
  color: black;
  cursor: pointer;
}

hr {
  height: 1px;
  background-color: #dfdfdf;
  border: none;
}

table,
th,
td {
  border-bottom: 1px solid #dfdbdb;
  /* border-collapse: collapse; */
  padding: 3rem;
}

table {
  margin: 2rem;
  border-spacing: 0 1rem;
  border-bottom: none;
  margin-left: 150px;
  margin-right: 150px;
}

th,
td,
tr {
  padding: 10px;
}

th {
  color: rgb(75, 74, 74);
  padding-right: 50px;
  font-size: 23px;
  font-weight: 100;
}

td {
  border-right: 1px solid #dfdbdb;
  font-size: 13px;
  padding: 0 20px 20px 20px;
}

#price td {
  font-size: 15px;
  font-weight: bold;
}

#price th {
  padding-bottom: 30px;
}

.noRightBorder {
  border-right: none;
}